.messages
  = render @messages

.Header
  .Header__left
    .Header__left--user
      user&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      =fa_icon "edit"
      =fa_icon "cog"
  .Header__right
    .Header__right--group
      group
    .Header__right--member
      member
    %p.Header__right--edit
      Edit



.Contents
  .Contents__left
    .Contents__left--group
      group
    .Contents__left--message
      message
  .Contents__right
    

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
  